* {
}

.card {
  padding: 0.5em 0.5em;
  margin: 0.6em 0;
}

.userDetails {
  display: flex;
  justify-content: space-between;
  width: 77%;
}

.nameAndEmail {
  border: 0.12em solid black;
  padding: 0.2em;
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
}

.btn {
  padding: 0.3em;
}

.updateAndDeleteContainer {
  align-self: end;
}

